@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1669541137547') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e629";
}

.icon-dingdanguanli:before {
  content: "\ea61";
}

.icon-home-g:before {
  content: "\e646";
}

.icon-gouwuche:before {
  content: "\e60c";
}

.icon-yisuo:before {
  content: "\e614";
}

.icon-yonghu:before {
  content: "\e8c8";
}

.icon-jiesuo:before {
  content: "\e636";
}

.icon-redio:before {
  content: "\e650";
}

.icon-zhanghaoquanxianguanli:before {
  content: "\eb68";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-sousuo:before {
  content: "\e613";
}

.icon-dongjierenyuan:before {
  content: "\e605";
}

.icon-shoujihaoma:before {
  content: "\e666";
}

.icon-jinggao:before {
  content: "\e61e";
}

.icon-zhuye:before {
  content: "\e6d3";
}

.icon-shujutongji:before {
  content: "\e62e";
}

.icon-yonghuguanli:before {
  content: "\e641";
}

.icon-setting:before {
  content: "\e6f0";
}

.icon-shangpinguanli-jianying:before {
  content: "\e706";
}

.icon-gouwudai:before {
  content: "\e68c";
}

.icon-gouwuche1:before {
  content: "\e609";
}

